<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<p>Invoice <%=@invoice.id%> has been edited for <%=@account_name%> by <%=@username%>.</p>
	<p>For details go to <%= edit_invoice_url @invoice.id %></p>


    <hr>

    <%= render :template => 'invoices/show', :formats => [:pdf], :invoice => @invoice %>

  </body>
</html>