<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  	<p>A payment has been posted for Invoice #<%= @invoice.id %>
  		(Account: <%=@account_name%>).</p>
  	<p>
  		<b>Date:</b>&nbsp;<%= l @payment.payment_date %>
  	</p>
	<p>
	  	<b>Amount:</b>&nbsp;<%= number_to_currency @payment.amount %>
	</p>
  	<p>
  		<b>Reference Number:</b>&nbsp;<%= @payment.reference_number %>
	</p>
  	<p>
	  	<b>Payment Type:</b>&nbsp;<%= @payment.payment_type%>
  	</p>
  	<br>
  	<p>
	  	The invoice (dated: <%= l @invoice.date %>) has a balance due of <%= number_to_currency @invoice.balance_due %>
  	</p>
	<p>
		For invoice details go to <%= edit_invoice_url @invoice.id %>
	</p>
	<p>
		For payment details go to <%= edit_payment_url @payment.id %>
	</p>

  </body>
</html>