
<%= simple_form_for(@invoice, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-edit"), '', :id => "invoice_account_edit", :class => "account_buttons", :target => "_blank" %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-plus-sign"), new_account_path, :class => "account_buttons", :target => "_blank" %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-refresh"), "", :class => :account_buttons, :id => "refresh_accounts" %>

    <%= f.association :account, { :collection => Account.all(order: :name), :class => "col-md-4"} %>

    <%= f.input :ar_account, {:label => "AR Account", :collection => Account.valid_ar_accounts, :class => "col-md-4", :include_blank => false} %>

    <% contact_pool = Contact.find_all_by_account_id(@invoice.account_id) || Contact.all %>
   <div class = "form-group">
      <label for="contacts">Primary Contact (printed on invoice)</label>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-edit"), '', :id => "invoice_primary_contact_edit", :class => "invoice_primary_contact_buttons", :target => "_blank" %>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-plus-sign"), new_contact_path, :id=> "invoice_primary_contact_new", :class => "invoice_primary_contact_buttons", :target => "_blank" %>
 
      <div class="input-group">
        <%= f.select :primary_contact_id, options_for_select(contact_pool.map {|r| [r.name, r.id, {'data-account-id' => r.account_id }]}, :selected => @invoice.primary_contact_id), {include_blank: true}, {:class => "select optional form-control input-xxlarge"} %>
        </div>
    </div>

    <div class = "form-group">
      <label for="contacts">All Invoice Contacts (emailed reminders, etc.)</label>
      <div class="input-group">
        <%= f.select :contact_ids, options_for_select(contact_pool.map { |r| [r.name, r.id, { 'data-account-id' => r.account_id }] }, :selected => @invoice.contacts.map{|c| c.id}), {include_blank: false}, {:multiple => true, :class => "select optional form-control input-xxlarge"} %>
      </div>
    </div>


    <%= f.association :user, :label => "User (notified of invoice activity)" %>
    <%= f.input :date %>


  <div><%=f.simple_fields_for :lines do |lines_form| %>
    <div class="duplicatable_nested_form well">  
      <%=   lines_form.input :item_id, collection: (Item.find_all_by_account_id(@invoice.account_id) unless (@invoice.account_id.blank?)) || Item.all, label_method: :name, :required => false, :include_blank => true, :selected => lines_form.object.item_id unless lines_form.object.blank? %>
      <%=   lines_form.input :quantity, :input_html => { min: 0 }, :required => false  %>
      <%=   lines_form.input :unit_price, :required => false  %>
      <%=   lines_form.input :hidden, :as => :boolean, :required => false  %> 
    	<%=   lines_form.input :description, label: 'Line Text', :input_html => { :class => 'tinymce', :rows => 10 }, :as => :text, :required => false   %>
      <%=   lines_form.input :notes, label: 'Notes (internal)', :input_html => { :class => 'tinymce', :rows => 10 }, :required => false   %>
      <%= lines_form.input :position, :collection => 1..[@invoice.lines.count,1].max %>

      <% if lines_form.object.blank? || lines_form.object.new_record? %>
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), '', :remote => true , :class => 'destroy_duplicate_nested_form btn btn-danger'%>
      <% else %>
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), invoice_line_path(@invoice, lines_form.object), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form btn btn-danger' %>
        <%= lines_form.input :id, as: :hidden %>
      <% end %>

    </div> 
	<% end %>
  </div>


  <div class="form-group well">
  <%= link_to 'New Line Item', '', :class => "duplicate_nested_form btn btn-primary" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>


<% end %>
