<h3><%= "Invoice ##{@invoice.id}" %> </h3>

<%= simple_form_for(@invoice, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>
    <%= link_to glyph("edit"), '', :id => "invoice_account_edit", :class => "modal_opener account_buttons", :id => "edit_account_button", :target => "_blank", :title => "Edit Account" %>
    <%= link_to glyph("plus-sign"), new_account_path, :class => "modal_opener account_buttons", :id => "new_account_button", :target => "_blank", :title => "Create New Account" %>
    <%= link_to glyph("refresh"), "", :class => :account_buttons, :id => "refresh_accounts" %>

    <%= f.association :account, { :collection => Account.all(order: :name), :class => "col-md-4"} %>

    <%= f.input :ar_account, {:label => "AR Account", :collection => Account.valid_ar_accounts, :class => "col-md-4", :include_blank => false} %>

    <% contact_pool = Contact.find_all_by_account_id(@invoice.account_id) || Contact.all %>
   <div class = "form-group">
      <label for="contacts">Primary Contact (printed on invoice)</label>
      <%= link_to glyph("edit"), (edit_contact_path(@invoice.primary_contact_id) if @invoice.primary_contact_id) || "", :id => "invoice_primary_contact_edit", :class => "invoice_primary_contact_buttons modal_opener", :title => "Edit Contact" %>
      <%= link_to glyph("plus-sign"), new_contact_path, :id=> "invoice_primary_contact_new", :class => "invoice_primary_contact_buttons modal_opener", :title => "New Contact" %>
      <%= link_to glyph("refresh"), "", :class => :contact_buttons, :id => "refresh_contacts" %>

 
      <div class="input-group">
        <%= f.select :primary_contact_id, options_for_select(contact_pool.map {|r| [r.name, r.id, {'data-account-id' => r.account_id }]}, :selected => @invoice.primary_contact_id), {include_blank: true}, {:class => "select optional form-control input-xxlarge"} %>
        </div>
    </div>

    <div class = "form-group">
      <label for="contacts">All Invoice Contacts (emailed reminders, etc.)</label>
      <div class="input-group">
        <%= f.select :contact_ids, options_for_select(contact_pool.map { |r| [r.name, r.id, { 'data-account-id' => r.account_id }] }, :selected => @invoice.contacts.map{|c| c.id}), {include_blank: false}, {:multiple => true, :class => "select optional form-control input-xxlarge"} %>
      </div>
    </div>


    <%= f.association :user, :label => "User (notified of invoice activity)" %>
    <%= f.input :void %>

    <%= f.input :date %>

<% @invoice.lines.unshift(Line.new) %>

  <div id="line_items">
      <% @invoice.lines.each.with_index do |line,index| %>
      <%=f.simple_fields_for :lines, line do |lines_form| %>
        <div class="duplicatable_nested_form panel panel-default" <%= raw('id="template"') if (index == 0)%>>  
            <div class="panel-heading">
                <h3 class="panel-title" title="<%=t('activerecord.attributes.line_item')%>"><%=glyph("move")%><span class="title-text">Line Item <%=glyph('chevron-right')%></span>
                    <div class="pull-right">
                        <%= link_to glyph("trash"), (invoice_line_path(@invoice, lines_form.object) unless lines_form.object.id.nil?), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form' %>
                        &nbsp;
                        <%= link_to glyph("plus"), '', :class => "duplicate_nested_form" %>

                    </div>

                </h3>

            </div>
            <div class="panel-body">
              <%= lines_form.input :position, as: :hidden %>

              <%=   lines_form.input :item_id, collection: (Item.find_all_by_account_id(@invoice.account_id) unless (@invoice.account_id.blank?)) || Item.all, label_method: :name, :required => false, :include_blank => true, :selected => (lines_form.object.item_id unless lines_form.object.blank?), input_html: { title: t("activerecord.attributes.line.item_title") } %>
              <%=   lines_form.input :quantity, :input_html => { min: 0 }, :required => false  %>
              <%=   lines_form.input :unit_price, :required => false  %>
              <%=   lines_form.input :hidden, :as => :boolean, :required => false  %> 
                <%=   lines_form.input :description, label: 'Line Text', :input_html => { :class => 'tinymce', :rows => 10 }, :as => :text, :required => false   %>
              <%=   lines_form.input :notes, label: 'Notes (internal)', :input_html => { :class => 'tinymce', :rows => 10 }, :required => false   %>

              <% unless lines_form.object.blank? || lines_form.object.new_record? %>
                <%= lines_form.input :id, as: :hidden %>
              <% end %>
            </div>

        </div> 
	<% end %>
    <% end %>
  </div>


  <div class="form-group well">
  <%= link_to glyph("plus",'New Line Item'), '', :class => "duplicate_nested_form btn btn-primary pull-right" %>
  <br/><br/>
  </div>

  <div class="form-group">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>


<% end %>
