<%= simple_form_for(@invoice, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :account %>
    <%= f.input :contact do %>
      <%= f.select :contacts, options_for_select(Contact.all.map { |r| [r.name, r.id, { 'data-company-id' => r.account.id }] }, :selected => @invoice.contacts.map{|c| c.id}), {include_blank: false}, {:multiple => true, :class => "select optional form-control input-xxlarge"} %>
    <% end %>
    <%= f.association :user %>
    <%= f.input :date %>


  <div><%=f.simple_fields_for :lines do |lines_form| %>
    <div class="duplicatable_nested_form well">  
    	<%=   lines_form.input :description, label: 'Line Text', :input_html => { :class =>
'tinymce' }  %>
    	<%=   lines_form.input :item_id, collection: Item.all, label_method: :description %>
    	<%=	  lines_form.input :quantity, :input_html => { min: 0 } %>
    	<%=	  lines_form.input :unit_price, :input_html => { min: 0 } %>
      <%=   lines_form.input :hidden %> 
      
      <% if lines_form.object.new_record? %>
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), '', :remote => true , :class => 'destroy_duplicate_nested_form btn btn-danger'%>
      <% else %>
        <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), invoice_line_path(@invoice, lines_form.object), :method => :delete, :remote => true, :class => 'destroy_duplicate_nested_form btn btn-danger' %>
        <%= lines_form.input :id, as: :hidden %>
      <% end %>

    </div> 
	<% end %>
  </div>


  <%= link_to 'New Line Item', '', :class => "duplicate_nested_form btn btn-primary" %>
  <%= f.button :submit, :class => "btn btn-primary" %>

  </div>


<% end %>
