<%= render 'invoices/action_bar', :invoice => @invoice %>
<div class="col-md-6">
    <%= render 'form' %>
</div>
<div class="col-md-6">
    <a name="payments"></a>
    <div class="well">
    <h2>Payments</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Ref. #</th>
                <th>Amount</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <%@invoice.payments.each do |p| %>
            <tr data-id="payments.id">
                <td><%=l(p.payment_date)%></td>
                <td><%=p.payment_type%></td>
                <td><%=p.reference_number%></td>
                <td><%=number_to_currency p.amount%></td>
                <td>
                    <% if p.account.id != @invoice.account.id %>
                    <span class="alert-danger">Warning: Account does not match invoice</span>
                    <% end %>
                </td>
                <td><%=link_to glyph("pencil"), edit_payment_path(p.id), :class=>"btn btn-primary" %>
            </tr>
            <% end %>
        </tbody>
    </table>
    <dl>
    <dt>Balance Due:</dt>
    <dd class="balance_due"><%=number_to_currency @invoice.balance_due%></dd>
    </dl>
    <%= link_to "New Payment", new_invoice_payment_path(@invoice), :class => "btn btn-primary" %>
    </div>
    <div class="well" id="invoice-preview">
      <iframe src="<%= invoice_url(@invoice, :format=>:pdf) %>" type="application/pdf" width="100%" height="600px"></iframe>
    </div>
</div>

