<div class="page-header">

  <h1>Invoices
      <% if current_user.can_create? Invoice %>
      <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-plus-sign noprint"), new_invoice_path  %>
      <% end %>
  </h1>

  <% if current_user.can_create? Invoice %>
    <h4>Total Outstanding Invoices <%= number_to_currency(Invoice.sum(:balance_due)) %></h4>
  <% end %>

    
<% if current_user.can_create? Invoice %>
<div class="panel panel-default noprint">
  <div class="panel-body">


    
    <%= form_tag invoices_path, :method => :get, :class => "form-inline" do |f| %>
      <div class="form-group">
        <%= text_field_tag :name, "#{params[:name]}",:placeholder => "Name", :id => "invoice-search" %>
      </div>

      <div class="input-group">
          <label for="outstanding_balance">
              &nbsp;
              Outstanding Balance?
              &nbsp;
          </label>
          <span class="input-group-addon">
              <%= check_box_tag :outstanding_balance, "yes", (@outstanding_balance) %>
          </span>
          <%= text_field_tag :balance_due_as_of_date, "#{params[:balance_due_as_of_date]}",:class => "datepicker", :placeholder => "Due as of Date" %>


        </div>

      <div class="form-group">
      </div>
      <div class="form-group">
          <%= select_tag :ar_account, options_for_select(Account.valid_ar_accounts, :selected => params[:ar_account]), :prompt => "A/R Acct", :class => "select optional form-control", :style => "max-width: 150px" %>
      </div>
      <div class="form-group">
        <%= submit_tag "Filter", :class => "btn btn-primary", :label => "Filter" %>
      </div>
    <% end %>
      
      
  </div>
</div>
<% end %>
    
<% if current_user.can_create? EmailRecord %>
<%= form_tag edit_multiple_invoices_path do %>
  <div class="form-inline well visible-md visible-lg noprint">
    <div class="form-group">
      <label class="sr-only" for="account_id"> Bulk Email</label>
      <%= select_tag "email_template_id", options_for_select(EmailTemplate.order(:name).collect{ |a| [a.name, a.id] }.insert(0, ["Select Template...",""])), {:class => "select optional form-control"}%> 
    <div class="form-group">
      <label for="test_email">
        <%= check_box_tag :test_email, "yes", (params[:test_email] == "yes") %>
        Test Email
      </label>
    </div>    
    <div class="form-group">
        <%= submit_tag "Send Email", :class => "btn btn-danger" %>
    </div>
  </div>

  </div>

<% end %>

    
<% end %>
<table class="table table-bordered table-striped table-responsive" id="invoices-table">
    <tr>
<% if current_user.can_create? EmailRecord %>
      <th class="visible-md visible-lg noprint">
        <%= check_box_tag 'select_all_invoice_id', '', false %>
      </th>
<% end %>
      <% sort_params = params.reject{|k,v| !["ar_account","outstanding_balance","balance_due_as_of_date", "name", "utf8", "commit", "all"].include? k || v.empty? } %>
      <th>Invoice # <%=toggle_sort_caret_link("id","DESC",params,sort_params)%>
      </th>
<% if !current_user.has_role? :customer %>
      <th class="visible-md visible-lg">A/R Acct <%=toggle_sort_caret_link("ar_account","ASC",params,sort_params) %>
        </th>
<% end %>
      <th>
          Invoice Date
          <%=toggle_sort_caret_link("date","DESC",params,sort_params) %>
        </th>
      <th>Company</th>
      <th class="visible-md visible-lg">
          Contact
      </th>
      <% unless current_user.has_role? :customer or current_user.has_role? :auditor %>
      <th class="visible-md visible-lg">
          Last Email <%=toggle_sort_caret_link("email","DESC",params,sort_params) %>
      </th>
      <% end%>
      <th>Total
          <%=toggle_sort_caret_link("total","DESC",params,sort_params) %>
        </th>
      <th>Balance Due
            <%=toggle_sort_caret_link("balance_due","DESC",params,sort_params) %>
      </th>
      <th style="min-width: 250px;" class="visible-md visible-lg"></th>
    </tr>

  <% @invoices.each do |invoice| %>
    <tr class="invoice-row" data-id="<%=invoice.id%>" data-account-name="<%= invoice.account.name unless invoice.account.blank?%>" data-amount="<%= invoice.total %>" data-balance-due="<%= invoice.balance_due %>">
<% if current_user.can_create? EmailRecord %>
      <td class="visible-md visible-lg noprint"><%= check_box_tag 'invoice_id[]', invoice.id, false %></td>
<% end %>
      <td>
<% if current_user.can_update? invoice %>
          <%= link_to content_tag(:i, invoice.id, :class => "glyphicon glyphicon-pencil"), edit_invoice_path(invoice.id) %>
<% else %>
          <%= link_to invoice.id, invoice_path(invoice.id) %>

<% end %>
        </td>
<% if !current_user.has_role? :customer %>
      <td class="visible-md visible-lg">
        <%= invoice.ar_account %>
      </td>
<% end %>
      <td>
        <%= invoice.date.strftime("%m/%d/%Y") unless invoice.date.blank? %>
      </td>
      <td>
        <% unless invoice.account.blank? %>
          <%= link_to invoice.account.name, (current_user.can_update? invoice.account) ? edit_account_path(invoice.account) : account_path(invoice.account) %>
        <% end %>     
      </td>
      <td class="visible-md visible-lg">
        <% unless invoice.primary_contact.blank? %>
          <%= link_to invoice.primary_contact.name, (current_user.can_update? invoice.account) ? edit_contact_path(invoice.primary_contact) : contact_path(invoice.primary_contact) %>
        <% end %>
      </td>
      <% unless current_user.has_role? :customer or current_user.has_role? :auditor %>
      <td class="visible-md visible-lg">
        <%= link_to invoice.email_records.last.created_at.localtime.strftime("%m/%d/%Y"), email_record_path(invoice.email_records.last), :target => "_BLANK" unless invoice.email_records.blank?%>
      </td>
      <% end %>

      <td>
        <%= number_to_currency invoice.total %>
      </td>
      <td>
        <%= number_to_currency invoice.balance_due_as_of(params[:balance_due_as_of_date]) %>
      </td>
      <td class="visible-md visible-lg">
        <%= render 'invoices/action_bar', :invoice => invoice %>

      </td>
    </tr>
  <% end %>
  <tr>
  <td>
    <% csv_params_allowed = ["sort","ar_account","outstanding_balance","balance_due_as_of_date", "name", "utf8", "commit", "all"] %>
    <%= link_to "CSV", invoices_path(params.reject{|k,v| !csv_params_allowed.include? k || v.empty? }.merge("format" => "csv")) %>
  </td>
  <td colspan="2" style="border-right: 0px" >
      Totals <% if params[:balance_due_as_of_date].present? %>as of <%= params[:balance_due_as_of_date] %> <% end %>
  </td>
  <td colspan="4" style="border-left: 0px" class="visible-md visible-lg">
      &nbsp;
  </td>      
  <td id="total">
    <%= number_to_currency(@invoices.map{|h| h.total}.inject{|sum,h| sum+h}) %>
  </td>
  <td id="balance-due">
    <%= number_to_currency(@invoices.select{|h| h.balance_due_as_of(params[:balance_due_as_of_date]) > 0}.map{|h| h.balance_due_as_of(params[:balance_due_as_of_date])}.inject{|sum,h| sum+h}) %>
  </td>
  <td class="visible-md visible-lg">
  </td>
  </tr>
  </table>

