<div class="page-header">

  <h1>Invoices
      <% if current_user.can_create? Invoice %>
      <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-plus-sign"), new_invoice_path  %>
      <% end %>
  </h1>

  <% if current_user.can_create? Invoice %>
    <h4>Total Outstanding Invoices <%= number_to_currency(Invoice.active.select{|h| h.balance_due > 0}.map{|h| h.balance_due}.inject{|sum,h| sum+h}) %></h4>
  <% end %>
<% if current_user.can_create? Invoice %>
<%= form_tag invoices_path, :method => :get, :class => "form-inline" do |f| %>
  <div class="form-group">
    <%= text_field_tag :name, "#{params[:name]}",:placeholder => "Name", :id => "invoice-search" %>
  </div>
    
  <div class="input-group">
      <label for="outstanding_balance">
          &nbsp;
          Outstanding Balance?
          &nbsp;
      </label>
      <span class="input-group-addon">
          <%= check_box_tag :outstanding_balance, "yes", (@outstanding_balance) %>
      </span>
      <%= text_field_tag :balance_due_as_of_date, "#{params[:balance_due_as_of_date]}",:class => "datepicker", :placeholder => "Due as of Date" %>

      
    </div>
      
  <div class="form-group">
  </div>
  <div class="form-group">
      <%= select_tag :ar_account, options_for_select(Account.valid_ar_accounts, :selected => params[:ar_account]), :prompt => "A/R Acct", :class => "select optional form-control", :style => "max-width: 150px" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Filter", :class => "btn btn-primary", :label => "Filter" %>
  </div>
<% end %>
<% end %>
    
<% if current_user.can_create? EmailRecord %>
<%= form_tag edit_multiple_invoices_path do %>
  <div class="form-inline well visible-md">
    <div class="form-group col-md-2">
      <label class="sr-only" for="account_id"> Bulk Email</label>
      <%= select_tag "email_template_id", options_for_select(EmailTemplate.order(:name).collect{ |a| [a.name, a.id] }.insert(0, ["Select Template...",""])), {:class => "select optional form-control"}%> 
    </div>
    
    <div class="checkbox">
      <label for="test_email">
        <%= check_box_tag :test_email, "yes", (params[:test_email] == "yes") %>
        Test Email
      </label>
    </div>

    <%= submit_tag "Send Email", :class => "btn btn-danger" %>

  </div>

<% end %>
    
  <table class="table table-bordered table-striped table-responsive" id="invoices-table">
    <tr>
      <th class="visible-md visible-lg">
        <%= check_box_tag 'select_all_invoice_id', '', false %>
      </th>
      <% sort_params = params.reject{|k,v| !["ar_account","outstanding_balance","balance_due_as_of_date", "name", "utf8", "commit", "all"].include? k || v.empty? } %>
      <th>Invoice #<%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "id")) %>
      </th>
      <th class="visible-md visible-lg">A/R Acct <%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "ar")) %></th>
      <th>Invoice Date<%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "date")) %></th>
      <th>Company</th>
      <th class="visible-md visible-lg">
          Contact
      </th>
      <% unless current_user.has_role? :customer %>
      <th class="visible-md visible-lg">
          Last Email
      <%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "last_email")) %>
      </th>
      <% end%>
      <th>Total
      <%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "total")) %>
      </th>
      <th>Balance Due
      <%= link_to content_tag(:b, '', :class => "caret"), invoices_path(sort_params.merge(:sort => "balance_due")) %>

      </th>
      <th style="min-width: 250px;" class="visible-md visible-lg"></th>
    </tr>

  <% @invoices.each do |invoice| %>
    <tr class="invoice-row" data-id="<%=invoice.id%>" data-account-name="<%= invoice.account.name unless invoice.account.blank?%>" data-amount="<%= invoice.total %>" data-balance-due="<%= invoice.balance_due %>">
      <td class="visible-md visible-lg"><%= check_box_tag 'invoice_id[]', invoice.id, false %></td>
      <td><%= link_to content_tag(:i, invoice.id, :class => "glyphicon glyphicon-pencil"), edit_invoice_path(invoice.id) %>
      </td>
      <td class="visible-md visible-lg">
        <%= invoice.ar_account %>
      </td>
      <td>
        <%= invoice.date.strftime("%m/%d/%Y") unless invoice.date.blank? %>
      </td>
      <td>
        <% unless invoice.account.blank? %>
          <%= link_to invoice.account.name, edit_account_path(invoice.account) %>
        <% end %>     
      </td>
      <td class="visible-md visible-lg">
        <% unless invoice.primary_contact.blank? %>
          <%= link_to invoice.primary_contact.name, edit_contact_path(invoice.primary_contact) %>
        <% end %>
      </td>
      <% unless current_user.has_role? :customer %>
      <td class="visible-md visible-lg">
        <%= link_to invoice.email_records.last.created_at.localtime.strftime("%m/%d/%Y"), email_record_path(invoice.email_records.last), :target => "_BLANK" unless invoice.email_records.blank?%>
      </td>
      <% end %>

      <td>
        <%= number_to_currency invoice.total %>
      </td>
      <td>
        <%= number_to_currency invoice.balance_due(params[:balance_due_as_of_date]) %>
      </td>
      <td class="visible-md visible-lg">
        <%= render 'invoices/action_bar', :invoice => invoice %>

      </td>
    </tr>
  <% end %>
  <tr>
  <td>
    <% csv_params_allowed = ["sort","ar_account","outstanding_balance","balance_due_as_of_date", "name", "utf8", "commit", "all"] %>
    <%= link_to "CSV", invoices_path(params.reject{|k,v| !csv_params_allowed.include? k || v.empty? }.merge("format" => "csv")) %>
  </td>
  <td colspan="2" style="border-right: 0px" >
    Totals  
  </td>
  <td colspan="4" style="border-left: 0px" class="visible-md visible-lg">
      &nbsp;
  </td>      
  <td id="total">
    <%= number_to_currency(@invoices.map{|h| h.total}.inject{|sum,h| sum+h}) %>
  </td>
  <td id="balance-due">
    <%= number_to_currency(@invoices.select{|h| h.balance_due(params[:balance_due_as_of_date]) > 0}.map{|h| h.balance_due(params[:balance_due_as_of_date])}.inject{|sum,h| sum+h}) %>
  </td>
  <td class="visible-md visible-lg">
  </td>
  </tr>
  </table>


<% end %>
