<div class="page-header">
  <%= link_to new_invoice_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Invoice
  <% end %>
  <h1>Invoices</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Invoice #</th>
    <th>Company</th>
    <th>Contact</th>
    <th>Total</th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= link_to invoice.id, edit_invoice_path(invoice.id) %></td>
    <td>
      <% unless invoice.account.blank? %>
        <%= link_to invoice.account.name, edit_account_path(invoice.account) %>
      <% end %>
    </td>
    <td>
      <% unless invoice.contacts.blank? %>
        <%= link_to invoice.contacts.first.name, edit_contact_path(invoice.contacts.first) %>
      <% end %>
    </td>
    <td>
      <%= number_to_currency invoice.total %>
    </td>
    <td>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), {:id => invoice.id,:action => "edit"}, :class => "btn btn-primary" %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-file"), invoice_path(invoice, :format => :pdf), :class => "btn btn-primary" %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-send"), {:id => invoice.id,:action => "email"}, :class => "btn btn-primary" %>
    <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-trash"), invoice, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>


    </td>
  </tr>
<% end %>
</table>

