<div class="page-header">
  <%= link_to new_invoice_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Invoice
  <% end %>
  <h1>Invoices</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Contact</th>
    <th>Company</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @invoices.each do |invoice| %>
  <tr>
    <td><%= invoice.contact_id %></td>
    <td><%= invoice.company_id %></td>
    <td><%= invoice.user_id %></td>
    <td><%= link_to 'Show', invoice %></td>
    <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
    <td><%= link_to 'Destroy', invoice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

