<div class="page-header">

  <h1>Invoices  <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-plus-sign"), new_invoice_path  %></h1>
  <h4>Total Outstanding Invoices <%= number_to_currency(Invoice.select{|h| h.balance_due > 0}.map{|h| h.balance_due}.inject{|sum,h| sum+h}) %></h4>

<%= form_tag invoices_path, :method => :get, :class => "form-inline well" do |f| %>
  <div class="form-group">
    <%= text_field_tag :name, "#{params[:name]}",:placeholder => "Name" %>
  </div>
  <div class="checkbox">
    <label for="outstanding_balance">
      <%= check_box_tag :outstanding_balance, "yes", (params[:outstanding_balance] == "yes") %>
      Outstanding Balance?
    </label>
  </div>
  <div class="form-group">
    <%= text_field_tag :balance_due_as_of_date, "#{params[:balance_due_as_of_date]}",:placeholder => "Date" %>
  </div>
  <div class="form-group">
    <%= submit_tag "Filter", :class => "btn btn-primary", :label => "Filter" %>
  </div>
<% end %>

<%= form_tag edit_multiple_invoices_path do %>
  <div class="form-inline well">
    <div class="form-group col-md-3">
      <label class="sr-only" for="account_id"> Bulk Email</label>
      <%= select_tag "email_template_id", options_for_select(EmailTemplate.order(:name).collect{ |a| [a.name, a.id] }.insert(0, ["Select Template...",""])), {:class => "select optional form-control"}%> 
    </div>
    
    <div class="checkbox">
      <label for="test_email">
        <%= check_box_tag :test_email, "yes", (params[:test_email] == "yes") %>
        Test Email
      </label>
    </div>

    <%= submit_tag "Send Email", :class => "btn btn-danger" %>

  </div>


  <table class="table table-bordered table-striped">
    <tr>
      <th>
        <%= check_box_tag 'select_all_invoice_id', '', false %>
      </th>
      <th>Invoice #</th>
      <th>Invoice Date</th>
      <th>Company</th>
      <th>Contact</th>
      <th>Last Email</th>
      <th>Total</th>
      <th>Balance Due</th>
      <th style="min-width: 250px;"></th>
    </tr>

  <% @invoices.each do |invoice| %>
    <tr>
      <td><%= check_box_tag 'invoice_id[]', invoice.id, false %></td>
      <td><%= link_to content_tag(:i, invoice.id, :class => "glyphicon glyphicon-pencil"), edit_invoice_path(invoice.id) %></td>
      <td>
        <%= invoice.date.strftime("%m/%d/%Y") unless invoice.date.blank? %>
      </td>
      <td>
        <% unless invoice.account.blank? %>
          <%= link_to invoice.account.name, edit_account_path(invoice.account) %>
        <% end %>     
      </td>
      <td>
        <% unless invoice.contacts.blank? %>
          <%= link_to invoice.contacts.first.name, edit_contact_path(invoice.contacts.first) %>
        <% end %>
      </td>
      <td>
        <%= link_to invoice.email_records.last.created_at.localtime.strftime("%m/%d/%Y"), email_record_path(invoice.email_records.last), :target => "_BLANK" unless invoice.email_records.blank?%>
      </td>

      <td>
        <%= number_to_currency invoice.total %>
      </td>
      <td>
        <%= number_to_currency invoice.balance_due(params[:balance_due_as_of_date]) %>
      </td>
      <td>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-usd"), new_invoice_payment_path(:id => invoice.id), :class => "btn btn-primary" %>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), {:id => invoice.id,:action => "edit"}, :class => "btn btn-primary" %>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-file"), invoice_path(invoice, :format => :pdf), :class => "btn btn-primary", :target => "_BLANK" %>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-send"), {:id => invoice.id,:action => "email"}, :class => "btn btn-primary" %>
      <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-trash"), invoice, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>


      </td>
    </tr>
  <% end %>
  <tr>
  <td colspan="6">
    Totals  
  </td>
  <td>
    <%= number_to_currency(@invoices.map{|h| h.total}.inject{|sum,h| sum+h}) %>
  </td>
  <td>
    <%= number_to_currency(@invoices.select{|h| h.balance_due > 0}.map{|h| h.balance_due}.inject{|sum,h| sum+h}) %>
  </td>
  <td>
  </td>
  </tr>
  </table>
<% end %>
