    <table width="100%">
      <tbody>
        <tr>
          <td>
            <% if defined? wicked_pdf %> 
              <%=
                # Rails.root.join('app', 'assets', 'images', 'logo.png').to_s 
                #image_tag( 'file://' + Rails.root.join('app', 'assets', 'images', 'logo.png').to_s, width: '129', height: '120')
                image_tag(Setting.find_template("logo_path"), width: '129', height: '120') 
               %>
             <% else %>
               <%= image_tag Setting.find_template("logo_url"), width: '129', height: '120' %>
             <%end%>
              
          </td>
          <td>
              <%= Setting.find_template("masthead").html_safe %>

          </td>
          <td id="invoice_info" class="col-xs-2" style="text-align: right;">
            <h2 style="color: gray;">INVOICE</h2>
            <p>Invoice #<span id="invoicenumber"><%= @invoice.id %></span></p>
            <p>Date: <span id="invoicedate"><%= l @invoice.date, :format => "%m/%d/%Y" %></span></p>
          </td>
        </tr>
      </tbody>
    </table>
    <table width="100%">
      <tbody>
        <tr>
          <td width="55%">
            <%= render 'invoices/contact.pdf.erb', :contact => (Contact.find(@invoice.primary_contact_id) unless @invoice.primary_contact_id.blank?) || @invoice.contacts.first %>
          </td>
          <td width="45%">
            <%= Setting.find_template("remittance_block").html_safe %>

          </td>
        </tr>
      </tbody>
    </table>

    <table width="100%" class="lines" style="border-collapse:collapse; border: 1px solid #ccc;">
          <%= render "invoices/lines.pdf.erb",  :lines => @invoice.lines %>      
    </table>

    <div style="text-align: right; background-color: #cccccc; padding: 15px;">
      	<h3>Total: <%=number_to_currency @invoice.total%></h3>
		</div>
