<h3>Users</h3>
<%= link_to 'New User', new_user_path, :class => "btn btn-primary" %>
<table class="users table table-striped">
<tr>
	<th>User</th>
	<th>Email</th>
	<th>Admin?</th>
	<th>Notify All?</th>
	<th></th>

</tr>
  <% @users.each do |user| %>
  <tr>
  	<td>
      <%= link_to user.name, edit_user_path(user.id) %>
	</td>
	<td>
	<%= user.email %>
	</td>
    <td>
	<%= user.admin ? glyph("ok") : "" %>
	</td>
	<td>
	<%= user.notify_on_all_actions ? glyph("ok") : "" %>
	</td>

    <td><%= link_to  content_tag(:i, "", class: "glyphicon glyphicon-trash glyphicon-trash-white"), user, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
  </tr>

  <% end %>

</table>