<%= simple_form_for(@setting, :defaults => { :input_html => { :class => 'input-xxlarge' } }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :key %>
    <%= f.input :category, collection: [:string, :html, :file] %>
    <% if @setting.category == "html" %>
      <%= f.input :value, input_html: {class: "tinymce"} %>
    <% end %>
    <% if @setting.category == "string" %>
        <%= f.input :value %>
    <% end %>
    <% if @setting.category == "file" %>
        <% if @setting.file? %>
            <%= image_tag @setting.value %>
        <% end %>
        <%= f.file_field :file %>
      <br>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => "btn btn-primary" %>
  </div>
<% end %>
