<div class="page-header">
  <%= link_to new_setting_path, :class => 'btn btn-primary' do %>
    <i class="icon-plus icon-white"></i>
    New Setting
  <% end %>
  <h1>Settings</h1>
</div>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
<% @settings.each do |setting| %>
    <tr>
      <td><%= link_to setting.key, edit_setting_path(setting) %></td>
      <td>
        <% if setting.category == "file" and setting.key == "logo" %>  
          <%= image_tag setting.value %>
        <% else %>
          <%= setting.value.html_safe %>
        <% end %>
        
      </td>
      <td><%= link_to glyph("edit"), edit_setting_path(setting), :class =>"btn btn-primary" %></td>
    </tr>
<% end %>
  </tbody>
</table>
