<p id="notice"><%= notice %></p>

<p>
  <b><%= Contact.human_attribute_name('first_name') %>:</b>
  <%= @contact.first_name %>
</p>

<p>
  <b><%= Contact.human_attribute_name('last_name') %>:</b>
  <%= @contact.last_name %>
</p>

<p>
  <b><%= Contact.human_attribute_name('account') %>:</b>
  <%= @contact.account.name unless @contact.account.blank? %>
</p>

<p>
  <b><%= Contact.human_attribute_name('address') %>:</b>
  <%= render @contact.address unless @contact.address.blank? %>
</p>

<p>
  <b><%= Contact.human_attribute_name('active') %>:</b>
  <%= @contact.active %>
</p>

<p>
  <b><%= Contact.human_attribute_name('database_id')%>:</b>
  <%= @contact.database_id %>
</p>


<%= link_to 'Edit', edit_contact_path(@contact), :class => "btn" %>
<%= link_to 'Back', contacts_path, :class => "btn" %>
