<p>
  <b>Address:</b>
  <%= simple_format [@address.address_lines, @address.city_state_zip].join("\n") %>
</p>
<p>
  <b>Email:</b>
  <%= @address.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @address.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @address.fax %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
