<p id="notice"><%= notice %></p>

<p>
  <b>Address line 1:</b>
  <%= @address.address_line_1 %>
</p>

<p>
  <b>Address line 2:</b>
  <%= @address.address_line_2 %>
</p>

<p>
  <b>Address line 3:</b>
  <%= @address.address_line_3 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Email:</b>
  <%= @address.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @address.phone %>
</p>

<p>
  <b>Fax:</b>
  <%= @address.fax %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
