<h1>Invoice Items <%= link_to content_tag(:i, '', :class => "glyphicon glyphicon-plus-sign"), new_item_path  %></h1>

<%= form_tag items_path, :method => :get, :class => "form-inline well" do |f| %>
  <div class="form-group">
    <%= text_field_tag :notes, "#{params[:notes]}", :placeholder => "Notes" %>
  </div>
  <div class="form-group">
    <%= text_field_tag :description, "#{params[:description]}",:placeholder => "Description" %>
  </div>
  <div class="checkbox">
    <label for="assigned">
      <%= check_box_tag :assigned, "yes", (params[:assigned] == "yes") %>
      Include assigned?
    </label>
  </div>
  <div class="checkbox">
    <label for="recurring">
      <%= check_box_tag :recurring, "yes", (params[:recurring] == "yes") %>
      Only recurring?
    </label>
  </div>
  <div class="form-group">
    <%= submit_tag "Filter", :class => "btn btn-primary", :label => "Filter" %>
    <%= button_tag "Reset", :class => "btn btn-standard", :type => "reset" %>
  </div>
<% end %>
<%= form_tag edit_multiple_items_path do %>
  <div class="form-inline well">

    <div class="form-group col-md-3">
      <label class="sr-only" for="account_id">Assign Account</label>
      <%= select_tag "account_id", options_for_select(Account.order(:name).collect{ |a| [a.name, a.id] }.insert(0, ["Assign Account...",""])), {:class => "select optional form-control"}%> 
    </div>
    <div class="form-group col-md-3">
      <label class="sr-only" for="account">Assign Invoice</label>
      <%= select_tag "invoice_id", options_for_select(Invoice.order("id DESC").collect{ |a| ["#{a.id}-#{a.name}", a.id] }.insert(0, ["Assign Invoice...",""])), {:class => "select optional form-control"}%> 
    </div>
    <div class="checkbox">
      <label class="sr_only" for="new_invoice" style="padding: 1px 5px">
        <%= check_box_tag 'new_invoice' %>
        New Invoice
      </label>
    </div>
    <div class="checkbox">
      <label class="sr_only" for="delete" style="padding: 1px 5px">
        <%= check_box_tag 'delete' %>
        Delete
      </label>
    </div>

    <%= submit_tag "Apply Bulk Action", :class => "btn btn-danger" %>
  </div>
  <table class="table table-striped">
    <tr>
      <th><%= check_box_tag 'select_all_item_id', '', false %></th>
      <th>Account</th>
      <th>Invoice</th>
      <th>Description</th>
      <th>Notes</th>
      <th>Rev. GL Code</th>
      <th>Qty</th>
      <th>Unit price</th>
      <th></th>
      <th></th>

    </tr>

  <% @items.each do |item| %>
    <tr>
      <td><%= check_box_tag 'item_id[]', item.id, false %></td>
      <td><%= item.account.name unless item.account.blank? %></td>
      <td><%= item.lines.map {|i| link_to i.invoice.id, edit_invoice_url(i.invoice.id)}.join(",").html_safe unless item.lines.blank? || item.lines.first.invoice.blank? %></td>
      <td><%= truncate(item.description_text, :length => 30) %></td>
      <td><%= truncate(item.notes,:length => 30) %></td>
      <td><%= item.revenue_gl_code %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency item.unit_price %></td>
      <td>
          <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-file"), item.item_image_url, html_options = { :target => "_BLANK", :class => "btn btn-primary"} %>
          <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), {:id => item.id,:action => "edit"}, :class => "btn btn-primary" %>
          <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-trash"), item, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
      </td>
    </tr>
  <% end %>
  </table>

<% end %>
<br />


<h2>Import Items</h2>

<%= form_tag import_items_path, multipart: true do %>
  <div class="form-group">
    <%= file_field_tag :file, :class => "file_field_tag" %>
  </div>
  <div class="checkbox">
    <label>
     <%= check_box_tag :override, :class => "check_box" %> Update Duplicates
    </label>
  </div>
  <%= submit_tag "Import", :class => "btn btn-primary" %>
<% end %>