<%= f.simple_fields_for :contacts do |f| %>

  <div class="form-inputs">
    <%= f.input :first_name, required: false %>
    <%= f.input :last_name, required: false %>
    <%= f.input :title, required: false %>
    <%= render 'address', :f => f %> 
    <%= f.input :active, as: :boolean, default: true %>
    <%= f.input :database_id, required: false%>
  </div>

<% end %>
