<%= simple_form_for(@account) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :default_account_ar_account, collection: Account.valid_ar_accounts, include_blank: false %>
    <% if (f.object.new_record?) %>
    	<%= render "contact", :f => f %>
    <% else %>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Active</th>
          <th>Database</th>
          <th></th>
        </tr>

      <% @contacts.each do |contact| %>
        <tr>
          <td><%= link_to "#{contact.first_name} #{contact.last_name}", edit_contact_path(contact.id) %>
          <td><%= link_to (simple_format(truncate(contact.address.address_lines,length: 30))), edit_address_path(contact.address.id) unless contact.address.blank? %></td>
          <td><%= contact.active %></td>
          <td><%= contact.database_id %></td>


          </td>

          <td>
          <%= link_to content_tag(:i, "", :class => "glyphicon glyphicon-pencil"), {:id => contact.id,:action => "edit"}, :class => "btn btn-primary" %>
          <%= link_to content_tag(:i, "", class: "glyphicon glyphicon-trash"), contact, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <% end %>
      </table>
      <%= link_to 'New Contact', new_account_contact_path , :class => "btn btn-primary" %>

	<% end %>
  </div>

    <%= f.button :submit, :class => "btn btn-primary" %>
<% end %>
