  <h1>Editing Account</h1>

<%= render 'form' %>

<div class="well">
<h2>Invoices
  <%= link_to glyph("plus-sign"), new_account_invoice_url(:account_id => @account.id)  %>
</h2>

      <table class="table table-bordered table-striped">
        <tr>
          <th>Date</th>
          <th>Invoice #</th>
          <th>Company</th>
          <th>Contact</th>
          <th>Total</th>
          <th class="modal-hide"></th>
        </tr>

      <% @invoices.each do |invoice| %>
        <tr>
          <td>
            <%= link_to glyph(:pencil,invoice.date.strftime("%m/%d/%Y")), edit_invoice_path(invoice.id) %>
          </td>
          <td><%= link_to glyph(:pencil, invoice.id), edit_invoice_path(invoice.id) %></td>
          <td>
            <% unless invoice.account.blank? %>
              <%= link_to invoice.account.name, edit_account_path(invoice.account) %>
            <% end %>
          </td>
          <td>
            <% unless invoice.contacts.blank? %>
              <%= link_to invoice.primary_contact.name, edit_contact_path(invoice.primary_contact) %>
            <% end %>
          </td>
          <td>
            <%= number_to_currency invoice.total %>
          </td>
          <td class="modal-hide">
          <%= link_to glyph(:usd), new_invoice_payment_path(:id => invoice.id), :class => "btn btn-primary" %>
          <%= link_to glyph(:pencil), {:id => invoice.id,:action => "edit", :controller => "invoices"}, :class => "btn btn-primary" %>
          <%= link_to glyph(:file), invoice_path(invoice, :format => :pdf), :class => "btn btn-primary" %>
          <%= link_to glyph(:send), {:id => invoice.id,:action => "email", :controller => "invoices"}, :class => "btn btn-primary" %>
          <%= link_to glyph(:trash), invoice, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>


          </td>
        </tr>
      <% end %>
      </table>
      </div>
      <div class="well">
      <h2>Payments
            <%= link_to glyph("plus-sign"), new_account_payment_url(:account_id => @account.id)  %>

      </h2>
	    <table class="table table-bordered table-striped">
        <tr>
          <th>Date</th>
          <th>Invoice #</th>
          <th>Payment Type</th>
          <th>Reference #</th>
          <th>Amount</th>
          <th class="modal-hide"></th>
        </tr>

      <% @payments.each do |payment| %>
        <tr>
          <td>
            <%= link_to glyph(:pencil, payment.payment_date.strftime("%m/%d/%Y")), edit_payment_path(payment.id) %>
          </td>
          <td>
            <%= link_to glyph(:pencil, payment.invoice_id), {:id => payment.invoice_id,:action => "edit", :controller => "invoices"} unless payment.invoice_id.blank? %>
          </td>
          <td>
          	<%= payment.payment_type %>
		  </td>
		  <td>
			  <%= payment.reference_number %>
		  </td>
          <td>
            <%= number_to_currency payment.amount %>
          </td>
          <td class="modal-hide">
          <%= link_to glyph(:pencil), {:id => payment.id,:action => "edit", :controller => "payments"}, :class => "btn btn-primary" %>
          <%= link_to glyph(:trash), payment, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>


          </td>
        </tr>
      <% end %>
      </table>
      </div>

      <div class="well">
      <h2>Emails</h2>
      <table class="table table-bordered table-striped">
        <tr>
          <th>Date</th>
          <th>Invoice</th>
          <th>To</th>
          <th>Subject</th>
          <th class="modal-hide">Message</th>
          <th class="modal-hide"></th>
        </tr>

      <% @email_records.each do |email| %>
        <tr>
          <td>
            <%= link_to email.created_at.strftime("%m/%d/%y %l:%M %P"), email_record_path(email.id) %>
          </td>
          <td>
            <%= link_to glyph(:pencil,email.invoice_id), {:id => email.invoice_id,:action => "edit", :controller => "invoices"} %>
          </td>
          <td>
            <%= email.email %>
          </td>
          <td>
            <%= email.subject %>
          </td>
          <td class="modal-hide">
            <%= email.message.html_safe %>
          </td>
          <td class="modal-hide">
            <%= link_to glyph(:trash), email, confirm: 'Are you sure?', method: :delete, :class => "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
      </table>
      </div>
