<h1>Accounts (Companies) <%= link_to glyph("plus-sign"), new_account_path  %></h1>

<%= form_tag accounts_path, :method => :get, :class => "form-inline well" do |f| %>
  <div class="form-group">
    <%= text_field_tag :name, "#{params[:name]}",:placeholder => "Name", :id => "account-search" %>
  </div>
  <div class="checkbox">
    <label for="outstanding_balance">
      <%= check_box_tag :outstanding_balance, "yes", (params[:outstanding_balance] == "yes") %>
      Outstanding Balance?
    </label>
  </div>
  <div class="form-group">
    <%= submit_tag "Filter", :class => "btn btn-primary", :label => "Filter" %>
  </div>
<% end %>


<table class="table table-bordered table-striped" id="accounts-table">
  <tr>
    <th>Name</th>
    <th>Balance Due</th>
    <th>Invoices Outstanding</th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr class="account-row">
    <td><%= link_to account.name, edit_account_path(account) %></td>
    <td><%= number_to_currency account.balance_due %></td>
    <td>
    	<% account.unpaid_invoices.each do |invoice| %>
    		<%= link_to invoice.name, edit_invoice_path(invoice.id) %>
			<% end %>

    </td>
    <td width="105px">
      <%= link_to glyph("file"), new_account_invoice_path(account), :class => "btn btn-success" %>
      <%= link_to glyph("trash-white"), account, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_account_path, :class => "btn btn-primary" %>
