<p>
  <b>Name:</b>
  <%= @account.name %>
</p>

<p>
  <b>Default A/R GL Account:</b>
  <%= @account.default_account_ar_account %>
</p>

<p>
  <b>Contacts:</b>
  <%= render @account.contacts %>
</p>

<div>
<%= link_to 'New Invoice', new_account_invoice_path(@account), :class => "btn btn-primary" %>
<%= link_to 'Edit', edit_account_path(@account), :class => "btn btn-default" %>
<%= link_to 'Back', accounts_path, :class => "btn btn-default" %>
</div>